:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #FAFAFA;
  --preto: #12161c;
  --cinza: #E2E2E2;
}


body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
